{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}View Booking Agents{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>View Booking Agents</h1>
</div>


<h2> Top 5 Booking Agents Based on Ticket Sales (Last Month)</h2>

<table border="1" style="width: 100%">
  <th>Booking Agent</th>
  <th>Number of Tickets</th>

{% for line in grouped_agent_purchased_ticket_30_days %}
  <tr>
    <td>{{line.email_booking}}</td>
    <td>{{line.count}}</td>
  </tr>
{% endfor %}
</table>

<h2> Top 5 Booking Agents Based on Ticket Sales (Last Year)</h2>

<table border="1" style="width: 100%">
  <th>Booking Agent</th>
  <th>Number of Tickets</th>

{% for line in grouped_agent_purchased_ticket_one_year %}
  <tr>
    <td>{{line.email_booking}}</td>
    <td>{{line.count}}</td>
  </tr>
{% endfor %}
</table>

<h2> Top 5 Booking Agents Based on Commission (Last Year)</h2>

<table border="1" style="width: 100%">
  <th>Booking Agent</th>
  <th>Total Commission</th>

{% for line in commissions_grouped_agent %}
  <tr>
    <td>{{line.email_booking}}</td>
    <td>{{line.total_commission}}</td>
  </tr>
{% endfor %}
</table>




{% endblock %}
