{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}View Flight Ratings{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>View Flight Ratings</h1>
</div>

<h2>Average Flight Ratings</h2>
<h3>Flights with no ratings will not appear</h3>
<table border="1" style="width: 100%">
  <th>Flight Number</th>
  <th>Departure Time</th>
  <th>Average Rating</th>
{% for line in ave_ticket_ratings %}
  <tr>
    <td>{{line.flight_num}}</td>
    <td>{{line.departure_time}}</td>
    <td>{{line.ave_rating}}</td>
  </tr>
{% endfor %}
</table>

<h2>Flight Ratings and Comments</h2>
<h3>Flights with no rating and no comment will not appear</h3>
<table border="1" style="width: 100%">
  <th>Flight Number</th>
  <th>Departure Time</th>
  <th>Rating</th>
  <th>Comment</th>
{% for line in ticket_rating_comment %}
  <tr>
    <td>{{line.flight_num}}</td>
    <td>{{line.departure_time}}</td>
    <td>{{line.rating}}</td>
    <td>{{line.comment}}</td>
  </tr>
{% endfor %}

{% endblock %}
