{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}GloboTravel - View Customer Flights{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Results for customer: {{email}}</h1>
</div>
<table style="width: 100%">
  <th> flight number</th>
  <th> departure time </th>
  <th> arrival time</th>
  <th> departure airport</th>
  <th> arrival airport</th>
  <th> flight status</th>

{% for line in data %}
  <tr>
    <td>{{line[1].flight_num}}</td>
    <td>{{line[1].departure_time}}</td>
    <td>{{line[2].arrival_time}}</td>
    <td>{{line[2].departs}}</td>
    <td>{{line[2].arrives}}</td>
    <td>{{line[2].status}}</td

  </tr>
{% endfor %}
</table>
{% endblock %}
