{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- <script type="text/javascript"> -->
<!-- import Chart from 'chart.js'; -->
<!-- <script src="path/to/chartjs/dist/Chart.js"></script> -->
<!-- import Chart from 'chart.js'; -->
{% block title %}Track your Spending{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Spending</h1>
</div>
<h3>Total Amount:</h3>
Total Amount total: {{total_overall_value}} <br>
Total Amount last year: {{default_total_sum}} <br>
<table>
  <th>email_customer</th>
  <th>date</th>
  <th>price</th>

{% for line in purchased_ticket %}
  <tr>
  	<td>{{line.email_customer}}</td>
    <td>{{line.date}}</td>
    <td>{{line.price}}</td>
  </tr>
{% endfor %}





</table>
Total Amount last year: {{default_total_sum}} <br>
<table>
  <th>email_customer</th>
  <th>date</th>
  <th>price</th>

{% for line in default_total_table %}
  <tr>
  	<td>{{line.email_customer}}</td>
    <td>{{line.date}}</td>
    <td>{{line.price}}</td>
  </tr>
{% endfor %}
</table>

<h3> Try</h3>
{% for line in default_total_table %}
  {{line.email_customer}} <br>
  {{line.date}} <br>
  {{line.price}} <br>
{% endfor %}

Sums={sums} <br>
Sums={{sums}} <br>
Sums={{sums[2]}} <br>
list_of_dates={list_of_dates} <br>
list_of_dates={{list_of_dates}} <br>

<var> list_sums = {{sums}} </var>
<var> l = list_sums.length </var>
list_sums[2] <br>
{{sums[2]}} <br>
var l = {{sums}}.length <br>
l <br>
<var> l = {{sums}}.length</var>
{{rows_for_graph}}

<!-- <script>
  <link rel="stylesheet" type="text/css" href="path/to/chartjs/dist/Chart.min.css">

import JSChart from 'chart.js';
var myData = new Array({{rows_for_graph}});
var myChart = new JSChart('chartid', 'bar');
myChart.setDataArray(myData);
myChart.setBarColor('#42aBdB');
myChart.setBarOpacity(0.8);
myChart.setBarBorderColor('#D9EDF7');
myChart.setBarValues(false);
myChart.setTitleColor('#8C8383');
myChart.setAxisColor('#777E81');
myChart.setAxisValuesColor('#777E81');
myChart.draw();
</script> -->
<!-- </script> -->

{% endblock %}
