{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Ratings and Comments{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Ratings and Comments</h1>
</div>

<div>
<table>
  <th>Ticket ID</th>
  <th>Airline</th>
  <th>Flight Number</th>
  <th>Departure Time</th>
  <th>Rating</th>
  <th>Comment</th>
{% for line in past_flights %}
  <tr>
    <td>{{line.ticket_id}}</td>
    <td>{{line.airline_name}}</td>
    <td>{{line.flight_num}}</td>
    <td>{{line.departure_time}}</td>
    <td>{{line.rating}}</td>
    <td>{{line.comment}}</td>
  </tr>
{% endfor %}
</div>



<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>

<!-- <div>
<table>
  <th>ticket_id</th>
  <th>airline_name</th>
  <th>flight_num</th>
  <th>departure_time</th>
  <th>rating</th>
  <th>comment</th>
{% for line in check %}
  <tr>
    <td>{{line.ticket_id}}</td>
    <td>{{line.airline_name}}</td>
    <td>{{line.flight_num}}</td>
    <td>{{line.departure_time}}</td>
    <td>{{line.rating}}</td>
    <td>{{line.comment}}</td>
  </tr>
{% endfor %}
</div> -->



{% endblock %}
