{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- <script type="text/javascript"> -->
<!-- import Chart from 'chart.js'; -->
<!-- <script src="path/to/chartjs/dist/Chart.js"></script> -->
<!-- import Chart from 'chart.js'; -->
{% block title %}Track your Spending{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript Bar Chart</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  </head>


  <body>
    <div class="page-header">
        <h1>Spending</h1>
    </div>
    <!-- <h3>Total Amount Spent:</h3> -->
    Total Amount Spent from {{start_date}} to {{end_date}}: {{period_table_sum}} <br>

    {{sums}}<br>
    {{query_ranges}}<br>
    {{ranges_labels}}<br>

    <center>

      <div id="enterchart">
      <canvas id="enter_chart" width="600" height="400"></canvas>
      <script>
        // bar chart data
        var barData = {
          labels : [
            {% for item in ranges_labels %}
             "{{ item }}",
            {% endfor %}
    ],
          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data : [
              {% for item in sums %}
                 "{{ item }}",
                {% endfor %}
        ]
            }
          ]
        }
       // get bar chart canvas
       var mychart = document.getElementById("enter_chart").getContext("2d");
         steps = 10
         max = {{max_ranges}}
       // draw bar chart
       new Chart(mychart).Bar(barData, {
         scaleOverride: true,
         scaleSteps: steps,
         scaleStepWidth: Math.ceil(max / steps),
         scaleStartValue: 0,
         scaleShowVerticalLines: true,
         scaleShowGridLines : true,
         barShowStroke : true,
         scaleShowLabels: true
         }
       );
      </script>
      </div>
    </center>


  </body>
</html>

{% endblock %}
