{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- <script type="text/javascript"> -->
<!-- import Chart from 'chart.js'; -->
<!-- <script src="path/to/chartjs/dist/Chart.js"></script> -->
<!-- import Chart from 'chart.js'; -->
{% block title %}Track your Spending{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript Bar Chart</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  </head>


  <body>
    <div class="page-header">
        <h1>Spending</h1>
    </div>
    <h3>Total Amount:</h3>
    Total Amount last year: {{default_total_sum}} <br>

    <center>
      <div id="defaultchart">
      <canvas id="default_chart" width="600" height="400"></canvas>
      <script>
        // bar chart data
        var barData = {
          labels : [
            {% for item in graph_labels %}
             "{{ item }}",
            {% endfor %}
    ],
          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data : [
              {% for item in monthly_sums %}
                 "{{ item }}",
                {% endfor %}
        ]
            }
          ]
        }
       // get bar chart canvas
       var mychart = document.getElementById("default_chart").getContext("2d");
         steps = 10
         max = {{max_default}}
       // draw bar chart
       new Chart(mychart).Bar(barData, {
         scaleOverride: true,
         scaleSteps: steps,
         scaleStepWidth: Math.ceil(max / steps),
         scaleStartValue: 0,
         scaleShowVerticalLines: true,
         scaleShowGridLines : true,
         barShowStroke : true,
         scaleShowLabels: true
         }
       );
      </script>
      </div>
    </center>

    <h3>Enter the dates you want to calculate your spending for: </h3>

    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
    </div>



  </body>
</html>

{% endblock %}
