{% extends "base.html" %}

{% block title %}GloboTravel{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %} {{current_user.email}}{% else %}Stranger{% endif %}!</h1>
</div>
<h1>Flight Info</h1>
<div class="container">
  <a href="{{ url_for('public.searchfutureflights') }}">Search Future Flights</a>
</div>
<div class="container">
  <a href="{{ url_for('public.seeflightsstatus') }}">See Flights Status</a>
</div>
<div class="container">
    <a href="{{ url_for('agent.my_flights') }}">Your Flights</a>
</div>
<div class="container">
    <a href="{{url_for('public.searchfutureflights') }}">Search for Flights</a>
</div>
<div class="container">
    <a href="{{url_for('agent.your_commission') }}">See your commission</a>
</div>
<div class="container">
    <a href="{{ url_for('agent.stats') }}">Your Earning Stats</a>
</div>
{% endblock %}