{% extends "base.html" %}

{% block title %}GloboTravel{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username}}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="container">
  <a href="{{ url_for('public.searchfutureflights') }}">Search Future Flights</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.viewflightratings') }}">View Flight Ratings</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.viewbookingagents') }}">View Booking Agents</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.change_flight_status') }}">Change Flight Status</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.add_flight') }}">Add Flight</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.add_airport') }}">Add Airport</a>
</div>
<div class="container">
    <a href="{{ url_for('staff.add_airplane') }}">Add Airplane</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.frequent_customers') }}">View Frequent Customers</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.top_destinations') }}">Top Destinations</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.airline_flights') }}">Your Airline's Flights</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.passenger_list') }}">Find Passenger List of a Flight</a>
</div>
<div class="container">
  <a href="{{ url_for('staff.staffviewreports') }}">View Reports</a>
</div>
<div class="container">
    <a href="{{ url_for('staff.revenuecomparison') }}">Revenue Comparison</a>
</div>
{% endblock %}
